* {
  list-style-type: none;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: purple;
  &:hover {
    color: rgb(26, 12, 15);
  }
}
img {
  width: 150px;
  height: 200px;
  border-radius: 10px;
}

h3 {
  font-family: "Pacifico", cursive;
  font-size: 20px;
}

#contact {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}
